{namespace qx=Qinx\Qxsurvey\ViewHelpers}

<f:layout name="Default" />

<f:section name="Main">
	<qx:flashMessages />
	<f:render partial="FormValidation" arguments="{namespace: 'qxsurvey'}" />

	<f:if condition="{question}">
		<f:form action="save" name="question" object="{question}">

			<div class="form-item">
				<label class="form-label" for="qx-survey-{question.uid}-email">E-Mail:</label>
				<f:form.textfield class="form-field" id="qx-survey-{question.uid}-email" name="user[email]" value=""/>
			</div>

			<f:for each="{question.choices}" as="choice">

				<div class="form-item">
					<f:form.radio name="choice" value="{choice.uid}" id="qx-survey-{question.uid}-{choice.namespace}"/>
					<label for="qx-survey-{question.uid}-{choice.namespace}">{choice.name} ({choice.answerCount})</label>
				</div>

			</f:for>

			<div class="form-actions">
				<button type="submit">Abschicken</button>
			</div>
		</f:form>
	</f:if>
</f:section>