{namespace qx=Qinx\Qxsurvey\ViewHelpers}

<f:layout name="Default" />

<f:section name="Main">
	<qx:flashMessages />
	<f:render partial="FormValidation" />

	<f:if condition="{question}">
		<f:form action="save" name="answer" object="{answer}">
			<div>
				<f:form.hidden property="question" value="{question}" />
			</div>

			<div class="form-item qx-survey--name">
				<f:form.textfield class="form-field" id="qx-survey-{question.uid}-email" name="user[name]" value="{user.name}" placeholder="{f:translate(key: 'placeholder.name')}" />
			</div>

			<div class="qx-survey--choices">
				<f:for each="{question.choices}" as="choice">

					<div class="form-item qx-survey--choice qx-survey--choice-{choice.namespace}">
						<label for="qx-survey-{question.uid}-{choice.namespace}">
							<f:form.radio property="choice" value="{choice.uid}" id="qx-survey-{question.uid}-{choice.namespace}"/>
							<span class="qx-survey--choice-count">{choice.answerCount}</span>
							<span class="qx-survey--choice-name">{choice.name}</span>
						</label>
					</div>

				</f:for>
			</div>

			<div class="form-actions">
				<button type="submit" class="button"><f:translate key="actions.submit" /></button>
			</div>
		</f:form>
	</f:if>
</f:section>